stages:
 - preliminaries  # signoff / static analysis
 - testing

workflow:
  rules:
  - if: $CI_COMMIT_TAG
  - if: $CI_COMMIT_BRANCH
  - if: $CI_PIPELINE_SOURCE == "merge_request_event"

variables:
  BUILD_IMAGES_PROJECT: openconnect/build-images
  FEDORA_BUILD: openconnect-cli-fedora40
  MINGW32_BUILD: openconnect-cli-mingw32
  MINGW64_BUILD: openconnect-cli-mingw64
  MACOS14_BUILD: macos-14-xcode-15

Signoff:
  stage: preliminaries
  except:
  - tags
  - schedules
  script:
  # Quoted to work around https://gitlab.com/gitlab-org/gitlab-foss/-/issues/20177
  - 'echo "Checking for new commits without Signed-off-by: tags as described in https://www.infradead.org/openconnect/contribute.html"'
  # Last bad commit
  - 'git log 7abb6359ce8be9952f768b643f96094e057f8a07.. --grep "(^Signed-off-by)|(^Merge branch)|(^This reverts commit)" --extended-regexp --invert-grep --exit-code'
  - echo "None (good)"

# This tests intentionally an out-of-tree build
Fedora:
  variables:
    BUILD_TYPE: "Debug"
  stage: testing
  image: $CI_REGISTRY/$BUILD_IMAGES_PROJECT:$FEDORA_BUILD
  script:
  - dnf -y install dnf-plugins-core qt6-qtscxml-devel qt6-qtbase-devel patch cmake spdlog-devel clang-tools-extra openconnect-devel
  - mkdir -p build && cd build
  - cmake -S .. -B . -DCMAKE_BUILD_TYPE=$BUILD_TYPE
  - cmake --build . --config $BUILD_TYPE
  tags:
  - saas-linux-small-amd64
  except:
  - tags
  - schedules
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - build/

static-analyzer/Fedora:
  variables:
    BUILD_TYPE: "Debug"
  stage: preliminaries
  image: $CI_REGISTRY/$BUILD_IMAGES_PROJECT:$FEDORA_BUILD
  script:
  - dnf -y install dnf-plugins-core qt6-qtscxml-devel qt6-qtbase-devel patch cmake spdlog-devel clang-tools-extra openconnect-devel
  - scan-build cmake . -DCMAKE_BUILD_TYPE=$BUILD_TYPE
  - scan-build --status-bugs -o scan-build-src cmake --build . --config $BUILD_TYPE
  tags:
  - saas-linux-small-amd64
  except:
  - tags
  - schedules
  artifacts:
    expire_in: 1 week
    when: on_failure
    paths:
      - scan-build-src/*

MinGW32:
  variables:
    BUILD_TYPE: "Debug"
  stage: testing
  image: $CI_REGISTRY/$BUILD_IMAGES_PROJECT:$MINGW32_BUILD
  script:
  - mount -t binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc
  - echo ':DOSWin:M::MZ::/usr/bin/wine:' > /proc/sys/fs/binfmt_misc/register
  - dnf -y install dnf-plugins-core mingw32-qt6-qtbase patch mingw32-qt6-qtscxml
  - mingw32-cmake . -DCMAKE_BUILD_TYPE=$BUILD_TYPE
  - cmake --build . --config $BUILD_TYPE
  tags:
  - saas-linux-small-amd64
  except:
  - tags
  - schedules
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - bin/openconnect-gui.exe

MinGW64:
  variables:
    BUILD_TYPE: "Debug"
  stage: testing
  image: $CI_REGISTRY/$BUILD_IMAGES_PROJECT:$MINGW64_BUILD
  script:
  - dnf remove -y wine.i686
  - mount -t binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc
  - echo ':DOSWin:M::MZ::/usr/bin/wine:' > /proc/sys/fs/binfmt_misc/register
  - dnf -y install dnf-plugins-core mingw64-qt6-qtbase patch mingw64-qt6-qtscxml
  - mingw64-cmake . -DCMAKE_BUILD_TYPE=$BUILD_TYPE
  - cmake --build . --config $BUILD_TYPE
  tags:
  - saas-linux-small-amd64
  except:
  - tags
  - schedules
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - bin/openconnect-gui.exe

.WindowsTemplate:
  tags:
  - saas-windows-medium-amd64
  hooks:
    pre_get_sources_script:
      - git config --system core.autocrlf false
  script:
    - Push-Location \
    - Import-Module ${env:ChocolateyInstall}\helpers\chocolateyProfile.psm1
    - choco install msys2 -y --no-progress
    - $Env:TARGET = "package"
    - $Env:GENERATOR = '"MinGW Makefiles"'
    - refreshenv
    - Pop-Location
    - $Env:BUILD_DIR = "build"
    - cmd.exe /c c:\tools\msys64\msys2_shell.cmd -defterm -no-start -mingw64 -where . -c "./contrib/build_deps_mingw@msys2.sh ${Env:BUILD_ARGS}"
    - cmd.exe /c c:\tools\msys64\msys2_shell.cmd -defterm -no-start -mingw64 -use-full-path -where . -c "./contrib/build_mingw@msys2.sh ${Env:BUILD_ARGS}"

# Build against stable openconnect
WindowsNative-stable:
  stage: testing
  extends: .WindowsTemplate
  variables:
    BUILD_TYPE: "Debug"
    BUILD_ARGS:
  except:
  - schedules
  - tags
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - build/CMakeCache.txt
      - build/CPack*
      - build/openconnect-gui*.exe
      - build/openconnect-gui*.exe.sha512

# Build against latest development openconnect
WindowsNative-latest:
  stage: testing
  extends: .WindowsTemplate
  allow_failure: true
  variables:
    BUILD_TYPE: "Debug"
    BUILD_ARGS: "--head"
  except:
  - schedules
  - tags
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - build/CMakeCache.txt
      - build/CPack*
      - build/openconnect-gui*.exe
      - build/openconnect-gui*.exe.sha512

WindowsRelease:
  stage: testing
  extends: .WindowsTemplate
  variables:
    BUILD_TYPE: "Release"
    SIGN_EXE: "true"
  only:
  - tags
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - build/CMakeCache.txt
      - build/CPack*
      - build/openconnect-gui*.exe
      - build/openconnect-gui*.exe.sha512

# https://docs.gitlab.com/ee/ci/runners/saas/macos/environment.html
MacOS14:
  stage: testing
  when: manual
  image: $MACOS14_BUILD
  tags: [ saas-macos-medium-m1 ]
  variables:
    HOMEBREW_NO_AUTO_UPDATE: 1
    HOMEBREW_NO_INSTALL_UPGRADE: 1
    HOMEBREW_NO_INSTALL_CLEANUP: 1
    HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1
    BUILD_TYPE: "Debug"
  before_script:
  - brew --env
  - brew config
  - brew install cmake pkgconf qt@6 openconnect
  script:
  - mkdir -p build
  - cd build
  - cmake .. -DQt6_DIR=$(brew --prefix qt6)/lib/cmake/Qt6 -DCMAKE_BUILD_TYPE="$BUILD_TYPE" -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15 -DCMAKE_CXX_FLAGS="-Wno-deprecated-declarations"
  - cmake --build . --config "$BUILD_TYPE"
  - QT_VERSION=$(brew list qt@6 --versions | awk '{print $2}')
  - /opt/homebrew/opt/qt/bin/macdeployqt ./bin/OpenConnect-GUI.app -verbose=2
  - curl -OL https://raw.githubusercontent.com/arl/macdeployqtfix/refs/heads/master/macdeployqtfix.py
  - python3 macdeployqtfix.py ./bin/OpenConnect-GUI.app /opt/homebrew/Cellar/qt/$QT_VERSION/
  - codesign --deep --force -s - bin/OpenConnect-GUI.app
  artifacts:
    expire_in: 1 week
    when: always
    paths:
      - build/bin/OpenConnect-GUI.app

MacOSRelease:
  stage: testing
  image: $MACOS14_BUILD
  tags: [ saas-macos-medium-m1 ]
  only:
  - tags
  variables:
    HOMEBREW_NO_AUTO_UPDATE: 1
    HOMEBREW_NO_INSTALL_UPGRADE: 1
    HOMEBREW_NO_INSTALL_CLEANUP: 1
    HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1
    BUILD_TYPE: "Release"
  before_script:
  - brew --env
  - brew config
  - brew install cmake pkgconf qt@6 openconnect
  script:
  - mkdir -p build
  - cd build
  - cmake .. -DQt6_DIR=$(brew --prefix qt6)/lib/cmake/Qt6 -DCMAKE_BUILD_TYPE="$BUILD_TYPE" -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15 -DCMAKE_CXX_FLAGS="-Wno-deprecated-declarations"
  - cmake --build . --config "$BUILD_TYPE"
  - QT_VERSION=$(brew list qt@6 --versions | awk '{print $2}')
  - /opt/homebrew/opt/qt/bin/macdeployqt ./bin/OpenConnect-GUI.app -verbose=2
  - curl -OL https://raw.githubusercontent.com/arl/macdeployqtfix/refs/heads/master/macdeployqtfix.py
  - python3 macdeployqtfix.py ./bin/OpenConnect-GUI.app /opt/homebrew/Cellar/qt/$QT_VERSION/
  - |
    if [ -n "$MACOS_SIGNING_CERT_B64" ]; then
      KEYCHAIN_PATH="$RUNNER_TEMP/signing.keychain-db"
      CERT_PATH="$RUNNER_TEMP/signing_cert.p12"
      echo "$MACOS_SIGNING_CERT_B64" | base64 --decode > "$CERT_PATH"
      security create-keychain -p "$MACOS_KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
      security set-keychain-settings -lut 21600 "$KEYCHAIN_PATH"
      security unlock-keychain -p "$MACOS_KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
      security import "$CERT_PATH" -k "$KEYCHAIN_PATH" -P "$MACOS_SIGNING_CERT_PASSWORD" -T /usr/bin/codesign -T /usr/bin/security
      security list-keychains -d user -s "$KEYCHAIN_PATH"
      security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "$MACOS_KEYCHAIN_PASSWORD" "$KEYCHAIN_PATH"
    fi
  - |
    if [ -n "$MACOS_SIGNING_CERT_B64" ]; then
      codesign --deep --force --options runtime --timestamp -s "$MACOS_SIGNING_IDENTITY" bin/OpenConnect-GUI.app
    else
      codesign --deep --force -s - bin/OpenConnect-GUI.app
    fi
  - VERSION="${CI_COMMIT_TAG#v}"
  - ARCH="$(uname -m)"
  - PKG_TMP="openconnect-gui-${VERSION}-macos-${ARCH}-notary.zip"
  - ditto -c -k --sequesterRsrc --keepParent ./bin/OpenConnect-GUI.app "./${PKG_TMP}"
  - |
    if [ -n "$NOTARY_KEY_B64" ] && [ -n "$NOTARY_KEY_ID" ] && [ -n "$NOTARY_ISSUER_ID" ]; then
      NOTARY_KEY_PATH="$RUNNER_TEMP/notary_key.p8"
      echo "$NOTARY_KEY_B64" | base64 --decode > "$NOTARY_KEY_PATH"
      xcrun notarytool submit "./${PKG_TMP}" --key "$NOTARY_KEY_PATH" --key-id "$NOTARY_KEY_ID" --issuer "$NOTARY_ISSUER_ID" --wait
      xcrun stapler staple ./bin/OpenConnect-GUI.app
      rm -f "$NOTARY_KEY_PATH"
    elif [ -n "$NOTARY_APPLE_ID" ] && [ -n "$NOTARY_APP_PASSWORD" ] && [ -n "$NOTARY_TEAM_ID" ]; then
      xcrun notarytool submit "./${PKG_TMP}" --apple-id "$NOTARY_APPLE_ID" --team-id "$NOTARY_TEAM_ID" --password "$NOTARY_APP_PASSWORD" --wait
      xcrun stapler staple ./bin/OpenConnect-GUI.app
    fi
  - PKG="openconnect-gui-${VERSION}-macos-${ARCH}.zip"
  - ditto -c -k --sequesterRsrc --keepParent ./bin/OpenConnect-GUI.app "./${PKG}"
  - shasum -a 256 "./${PKG}" > "./${PKG}.sha256"
  artifacts:
    expire_in: never
    when: always
    paths:
      - build/openconnect-gui-*-macos-*.zip
      - build/openconnect-gui-*-macos-*.zip.sha256
      - build/bin/OpenConnect-GUI.app
